
h1 {
    text-align:center;
}



body {
    background-image: url(https://i.ytimg.com/vi/H1w2VoRqmQQ/maxresdefault.jpg);
   background-size:cover;
    font-family: 'Ubuntu', sans-serif;
}

li {
    margin-left: 45%;
}